@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
} */

/* .input-container label {
  margin-bottom: 0.4rem;
} */

/* .input-container input {
  border: 2px solid #d2d2d2;
  border-radius: 0.4rem;
  padding: 0.7rem;
  width: 100%;
} */

/* .btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #25ea5d;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
} */

/* .btn:hover {
  background-color: #44e371;
} */

/* .link {
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #555;
}

.link span {
  color: #2736e1;
  cursor: pointer;
} */

/* .list-container {
  background-color: #fff;
  padding: 2rem;
  width: 25rem;
  border-radius: 0.6rem;
} */

/* .list-container .title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title-box h1 {
  margin: 0;
}

.title-box .addBtn {
  font-size: 2rem;
  color: #333;
  background-color: #b9b9b9;
  border-radius: 50%;
  padding: 0.5rem 1.2rem;
  border: none;
}

.addBtn:hover {
  background-color: rgb(203, 198, 198);
}

.list-box {
  padding: 0 0 0 1.5rem;
}

.list-box ul {
  list-style-type: square;
}

.list-box ul li {
  margin-bottom: 0.7rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #999;
}

.list-container .link {
  cursor: pointer;
} */

table thead tr th {
  padding: 1rem 0;
  border-bottom: 3px solid #888;
}

table tbody tr td {
  padding: 1rem 0;
  border-bottom: 1px solid #999;
}
